<div class="container">
  <header>
    <div class="title">
      <h1>CS336 Chat App</h1>
    </div>

    <hr>

    <div class="setting">
      <label class="subtitle">Enter your name: </label>
      <input type="text" [(ngModel)]="name" (change)="saveNameToLocalStorage()">

      <br>

      <label class="subtitle">Pick a color for your post:
        <input [(colorPicker)]="color" [style.background]="color" (click)="saveColorToLocalStorage()">
      </label>
    </div>
  </header>

  <hr>

  <section>
    <div *ngFor="let chat of chats">
      <div>
        <p id="name">{{chat.name}}</p>
        <div class="chat">
          <p id="message" [style.color]="chat.color">{{chat.message}}</p>
          <p id="date">{{chat.timestamp.toDate() | date: 'medium'}}</p>
        </div>
      </div>
    </div>

    <hr>

    <div>
      <label id="type-message-title">Enter a message: </label>
      <input placeholder="Type a message..." id="message-input" type="text" [(ngModel)]="message" (keyup.enter)="addToDatabase()">
    </div>
  </section>
</div>
