/* Styles the component and sets the min/max of width depending on viewport change */
.survey-card {
  border-radius: 25px;
  margin: 1%;
  border-style: solid;
  border-width: 2px;
  border-color: maroon;
  max-width: 25vw;
  min-width: 200px;
}

/* Slider is the whole width of card. */
.slider {
  width: 100%;
}

/* Puts the icon and question into 1 line */
.mat-card-title {
  display: inline-block;
  position: relative;
  width: 90%;
}

.mat-icon {
  margin-left: 2.5%;
}

.mat-card-subtitle {
  width: 90%;
}

.answer-title {
  font-weight: bold;
}