<mat-card class="survey-card">
  <mat-card-title>{{ question }}</mat-card-title>
  <mat-icon>question_answer</mat-icon>
  <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  <mat-slider
    thumbLabel
    class="slider"
    min="{{ minValue }}"
    max="{{ maxValue }}"
    step="1"
    value="1"
    (change)="sliderChanged($event)"
  ></mat-slider>
  <div *ngIf="answer">
    <h3>
      <span class="answer-title">Answer: </span>
      <span>{{answer}} {{units}}</span>
    </h3>
  </div>
</mat-card>
