<app-survey-card
  [question]="question1"
  [subtitle]="subtitle1"
  [minValue]="minValue1"
  [maxValue]="maxValue1"
  [units]="units1"
  (result)="gotResult($event)"
></app-survey-card>
<app-survey-card
  [question]="question2"
  [subtitle]="subtitle2"
  [minValue]="minValue2"
  [maxValue]="maxValue2"
  [units]="units2"
  (result)="gotResult($event)"
></app-survey-card>
<app-survey-card
  [question]="question3"
  [question]="question3"
  [subtitle]="subtitle3"
  [minValue]="minValue3"
  [maxValue]="maxValue3"
  [units]="units3"
  (result)="gotResult($event)"
></app-survey-card>