/*
Removes the small white space on
the right and left of the screen
*/
body {
  margin: 0;
}

/*
Sets everything inside the header div centered
*/
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 10%;
}

/*
Sets the logo centered
*/
.calvin-logo {
  text-align: center;
}

/*
Sets the size of the image to be 40% of the original
*/
.logo {
  width: 40%;

  /* display: block;
  margin: auto; */
}

/*
Sets everything inside the searchbar div centered
*/
.searchbar {
  display: flex;
  align-items: center;
}

/*
Sets the background color, edges, font size, and
spacing of the input box
*/
input {
  background-color: rgb(212, 212, 212);
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/*
Sets the color of the placeholder inside the input box
*/
::placeholder {
  color: black;
}

/*
Sets the space inside the navbar div to be maroon
and covering the whole width of the screen
*/
.navbar {
  background-color: #98002e;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*
Sets the list to be centered and makes the height of
the navbar shorter
*/
ul {
  margin: auto;
  padding: auto;
  text-align: center;
  /* list-style-type: none; */
}

/*
Sets the unordered list into a horizontal navbar with the
bullet points erased and adjust the spacing between each list
*/
li {
  display: inline;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
}

/*
Sets the color, removes the underline, font size, and font name
*/
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/*
Changes the font size of the text in navbar when the width of
the screen is 1200px or below
*/
@media screen and (max-width: 1200px) {
  .navbar a {
    font-size: xx-small;
  }
}

/*
Sets the color of the text in navbar to be gold when
mouse is hovering over it
*/
.navbar a:hover {
  color: #EECC0A;
  transition: 500ms;
}

/*
Sets everything inside the content div to be centered
with a large font size
*/
.content {
  text-align: center;
  font-size: x-large;
}